html{
    height:100%;
}

html, body{
    margin: 0;
     height:100%;
    padding: 0;
}

.container{
    width:95%;
    max-width:960px;
    margin:2em auto;
    border:3px solid #ccc;
}

div.container-fluid {
    padding:0;
    margin:0;
}

#OpenLayers_Map_2_OpenLayers_ViewPort{
    position: static!important;
}

.main-header{
    /*
    height und line-height gleich hoch = einzeiliger TExt wird vertikal zentriert.
    */
    height:4em;
    line-height:4em;
    text-align:center;
    background-color: #999;
    color:#fff;
}

.content{
    padding:1em 1em 3em;
}


body {
    overflow: hidden;
}

#map {
    height: 100%;
}

#logout{
    color:blue;
    cursor: pointer;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#warnings-panel {
    width: 100%;
    height:10%;
    text-align: center;
}

#map_canvas{
    height:100%;
    position: inherit!important;
    transform: inherit!important;
}

#map_canvas.mobile{
    margin-left:0;
}

div.hero-unit {
    background-image: url("../img/mapBg.JPG");
    display: flex;
    height: 180px;
    margin: 10px;
    padding: 0 0 10px 0;
    position: relative;
}

div.hero-unit h1{
   bottom: 0;
    display: table;
    left: 0;
    margin: auto !important;
    right: 0;
    top: 0;
    opacity: 1;
    color:#546f25;
}

div.hero-unit img{
    display: block;
    height: 100%;
    margin: 0 auto;
    width: auto;
    position: relative;
}

.sidePanel{
    /*position:absolute;*/
    width:100%;
    height: 100%; 
    overflow:auto; 
    float:left; 
    left:0;
}

.sidePanel.mobile{
    left:-400px;
}

#pathList li {
    list-style-type:none;
}

#pathList li .btn, #pathList li form  {
    display:inline-block!important;
    margin-right: 10px;
}

#pathList li a.btn{
    width:180px;
}

#pathList span.fa{
    color:#ccc;
    margin-left:5px;
}

#pathList a.active span.fa-pencil{
    color:#d48a49;
    cursor: pointer;
}

#pathList a.active:hover span.fa-pencil{
    color:#b65601;
}

#pathList a.active span.fa-map{
    color:#6f9131;
    cursor: pointer;
}
.fa.fa-map.fa-2x{
    font-size:1.8em;
}
input.pathNameInput{
    width: 192px;
    margin: 5px 10px 0 0;
}

#pathList a.active:hover span.fa-map{
    color:#546f25;
}

.mobile #pathList a:not(.btn), .mobile #pathList form{
    display: none!important;
}

.mobile #pathList li {
    margin-bottom: 15px;
}


#pathList a.active span.fa-times{
    color:#ff4545;
    cursor: pointer;
}

#pathList a.active:hover span.fa-times{
    color:#FF0000;
}

#downloadList .btn {
    display:table;
    margin-bottom: 10px;
}


.GMbtn{
    cursor: pointer;
    background-color:#fff;
    border:2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    margin-bottom:10px;
    margin-left:10px;
    text-align: center;
}
.GMbtnTxt{
    color:rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left:5px;
    padding-right:5px;
}


#map_canvas > .gm-style{
	z-index:auto!important;
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    height: 100%;
    overflow: hidden;
    padding-left: 380px;
}

#wrapper.toggled {
    padding-left: 380px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 380px;
    width: 0;
    height: 100%;
    margin-left: -380px;
    overflow-y: auto;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    float:left;
}

#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    left:0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -380px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle{
    z-index: 100;
}


.mobileMenu{
    width: 70px;
    height: 65px;
    position: absolute;
    z-index:10;
    border-top:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    cursor: pointer;
    left:-1px;
    top:0;
}

.mobileMenu span{
    display: block;
    position: absolute;
    height: 9px;
    width: 80%;
    background: #546f25;
    border-radius: 9px;
    opacity: 1;
    left: 10%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}


.mobileMenu.closed span{
    background: #bbb;
}


.mobileMenu.closed:hover span {
    background: #546f25;
}

.mobileMenu:not(.closed) span {
    background: #546f25;
}

.mobileMenu:not(.closed):hover span {
    background: #bbb;
}
/* Icon 3 */



.mobileMenu span:nth-child(1) {
    top: 10px;
}

.mobileMenu span:nth-child(2),.mobileMenu span:nth-child(3) {
    top: 28px;
}

.mobileMenu span:nth-child(4) {
    top: 46px;
}

.mobileMenu.closed span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}





.mobileMenu.closed span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobileMenu.closed span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobileMenu.closed span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


    #wrapper {
        padding-left: 380px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 380px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        border-left: 1px solid #eee;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

@media screen and (max-width: 768px) {
    div.hero-unit h1{
        font-size:60px;
    }
}



