form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style:none;
}


:focus {
	outline: 0;
}


.login_form {
    margin: 10px;
    overflow: auto;
    background-color: #eee;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.login_form form{
    margin:10px;
}

.login_form p{
padding:10px 0;
font:normal 12px Tahoma;
color:#777;
}

.login_form h3{
background:#C24445;
color:#fff;
padding:8px;
margin-bottom:5px;
font:bold 12px Tahoma;
}
.login_form label {
padding:5px;
display:block;
font:bold 12px Tahoma;
color:#666;
}
.login_form input[type=text], .login_form input[type=password] {
padding:5px;
border:1px solid #ddd;
font:normal 12px Tahoma;
width:288px;
}
.inputbutton {
	margin-top:10px;
	cursor:pointer;
	display:block; 
	display:inline-block;
	outline:none;
	position:relative;
	font-size:11px; 
	padding:4px 8px; 
	font:normal 0.7em Tahoma;
	text-align:center;
	text-decoration:none;
	overflow:visible;
	white-space:nowrap;
	z-index:1;
	color:#FFF;
	text-shadow:#555 -1px -1px 0px;
	border:1px solid;
	border-color:#333;
	border-color:rgba(0, 0, 0, .3);
	-moz-box-shadow:
		0px 1px 0px rgba(255, 255, 255, .75) inset,
		0px -1px 1px rgba(255, 255, 255, .2) inset
	;
	-webkit-box-shadow:
		0px 1px 0px rgba(255, 255, 255, .75) inset, 
		0px -1px 1px rgba(255, 255, 255, .2) inset 
	;
	box-shadow:
		0px 1px 0px rgba(255, 255, 255, .75) inset, 
		0px -1px 0px rgba(255, 255, 255, .2) inset 
	;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55ffffff', endColorstr='#00ffffff');
}

.loginbtn, #createPa, #findBtn, .download, .download:hover  {
    border: 2px solid #546F25;
    background-color: #546F25;
    background-image:none;
    color:#fff;
    text-shadow:none;
    box-shadow: none;
}


.registerbtn{
    border: 2px solid #C24445;
    background-color: #C24445;
}

.button{
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    cursor: pointer;
}

input[disabled]{
    display: none;
    cursor:auto;
    background-color: #777;
    border-color: #777;
}
.errormess {
font:bold 12px Tahoma;
margin-left:5px;
color:#BC3F40;
}

.loggedin_form, .tabbable{
    padding:10px;
}

.tabbable a:not(.btn){
   color:#546F25;
}

